<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
  </head>

  <body background="http://bit.ly/2dSSlmr" style="width:100%">
    <nav class="navbar navbar-dark bg-inverse">
      <div class="nav navbar-nav list-group list-group-flush">
        <%= link_to 'Home', root_path, class: "nav-item nav-link " %>
        <%= link_to 'Blog', blogs_path, class: "nav-item nav-link #{yield(:blog_active)}" %>
        <%= link_to 'About', about_path, class: "nav-item nav-link #{yield(:about_active)}" %>
        <%= link_to 'Contact', contact_path, class: "nav-item nav-link #{yield(:contact_active)}" %>
      </div>
        <%= link_to 'Register',register_path, class: "btn btn-outline-success pull-xs-right", style: "margin-left:10px"%>
        <a href="#" class="btn btn-outline-success pull-xs-right" style="margin-left:10px">Login</a>
  </nav>
  <div class="container" <%=controller_name%> <%=action_name%>>
    <%= yield %>
  </div>
</body>
</html>
